html {
  scroll-behavior: smooth;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  
}


#header {
 
}



#left {
  position: absolute;
  top: 105%;
  left: 32.5em;
}

#right {
position: absolute;
top: 105%;
right: 32.5em;
}
  

#logo {
 margin-top: -80px;
 height: 500px;
 width: 500px;
 max-width: 100%;
 margin-bottom: -80px;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    scroll-behavior: smooth;
    text-align: center;
    place-items: center;
    background-color: rgb(255, 255, 255);
  }

  #navbar {
    border: 10px solid red;
    background-color: red;
    border-radius: 10px;
    width: 100%;
   margin: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  


  * {
    box-sizing: border-box;
  }

  #slideshow {
    width: 100%;
    height: auto;
    
  }



  #slideshow img {
    border-radius: 2%;
  height: 35rem;
  width: 35rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  }

  form::placeholder {
   text-align: center;
  }

  h1 {
    font-size: 10vh;
   text-align: center;
  }



  button {
    border-radius: 12px;
    padding: 1.5%;
    
    
  }

  #left {
    margin-left: -3.2%;
  }

  #right {
    margin-right: -3.2%;
  }

  input {
    text-align: center;
  }

  #subject {
    text-align: center;
  }

  #contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    
  }

  #about {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  #contact {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  
  }


  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
  }