* {
  border-radius: 2%;
}
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
  margin: 0;
  background: #1561ad;
  color: #fff;
  font-family: "Lato", sans-serif;
}

body::after {
  content: "";
  /* background: url(img/pexels-binyamin-mellish-106399.jpg); */
  height: 300vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-attachment: fixed;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.backstretch img {
  background-color: #1561ad;
  opacity: 0.3;
  filter: alpha(opacity=90);
}
.container {
  display: flex;
  flex-direction: column;
  margin-left: 0.3%;
  margin-right: 0.3%;
}

#flex-container {
  display: grid;
  grid-auto-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 3%;
  column-gap: 1%;
  row-gap: 3%;
}

#mbj-number {
  position: relative;
  text-align: right;
  margin-top: -3%;
}

#mbj-description {
  font-size: 1.3vw;
}

.footer {
  width: 100%;
  text-align: center;
}

.about {
  align-items: center;
  margin-left: 2%;
  align-content: center;
  text-align: center;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  background: rgba(0, 0, 0, 0.5);
  width: 75%;
  font-size: 1.5vw;
  margin-left: 3%;
}

.about p {
  margin-top: 10%;
  padding-left: 1%;
  padding-right: 1%;
}

#flex-container:nth-child(1) {
  width: 50%;
}

#mbj-h1 {
  font-size: 3.2vw;
  margin-left: 0.5%;
}
#mbj-number {
  font-size: 3vw;
  margin-top: -5%;
  margin-right: 1%;
}

#mbj-description {
  margin-top: -2.6%;
  margin-left: 0.6%;
}
#family {
  grid-area: main-img;
  height: 450px;
  width: 85%;
  grid-row: 1;
  grid-column: 3 / span 3;
  border: 3px solid white;
  margin-left: -5%;
}

.main-imgs {
  height: 300px;
  width: 300px;
}

.navbar {
  grid-area: navbar;
  width: 100%;
  background-color: #fc5226;
  display: flex;
  justify-content: space-evenly;
  margin-top: -3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.navbar a {
  font-size: 1.3vw;
  color: #fff;
  padding-top: 0.6%;
  padding-bottom: 0.6%;
}
.navbar a:hover {
  background-color: #1561ad;
}

#yel-to-white {
  height: 400px;
  width: 100%;
  grid-row: 3;
  grid-column: 1;
}

#yel-to-white-2 {
  grid-row: 3;
  grid-column: 2;
  height: 400px;
  width: 100%;
  border: 2px solid white;
}
#banda {
  grid-row: 3;
  grid-column: 3;
  height: 400px;
  width: 100%;
  /* margin-left: 8%; */
}

footer {
  margin: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

/* Start of What we offer page */

#services {
  grid-row: 1;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
}

#services ul {
  column-count: 4;

  list-style-type: none;
  font-size: 24px;
}

ul li:before {
  font-family: "FontAwesome";
  content: "\f6e3";
  margin: 0 5px 0 -15px;
  color: #fc5226;
}

#services li {
  margin: 1.7%;
  text-align: left;
  font-size: 24px;
}

#whatweoffer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#wwo-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

.offer {
  grid-row: 2;
}

#flex-container-wwo {
  grid-template-rows: 2fr, 1fr, 2fr, 1fr;
  text-align: center;
  margin: 3%;
}

.img-container-wwo {
  grid-row: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3%;
}

#kitchens {
  grid-row: 1;
  grid-column: 1;
  margin-left: 2%;
}

#ul-title {
  font-size: 2vw;
}

#purse-on-counter {
  grid-row: 1;
  grid-column: 2;
}

#moms-bathroom {
  grid-row: 2;
  grid-column: 1;
  margin-right: 2%;
}

#bathroom {
  grid-row: 2;
  grid-column: 2;
}

.img-container-wwo img {
  width: 30%;
  height: 50%;
  border: 3px solid white;
}

.offer {
  border-radius: 1%;
  width: 75%;
  margin: auto;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}

footer {
  margin: 0;
  grid-row: 4;
}

/* Start of contact page */

#contact-form {
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  margin-top: -1%;
  margin-left: 35%;
  margin-right: 35%;
  background: rgba(0, 0, 0, 0.5);
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 55%;
  height: 100%;
  margin: auto;
  font-size: 2vw;
}

#submit-input {
  text-align: center;
  width: 40%;
  align-self: center;
  border-radius: 25px;;
}

input {
  text-align: left;
}

#contact-form label {
  align-items: left;
}

.contact-container h3 {
  text-align: center;

  font-size: 2.5vw;
  margin-top: 1%;
  margin-bottom: 2%;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  * {
    border-radius: 1%;
  }
  #kitchens {
    margin: auto;
  }

  #moms-bathroom {
    margin: auto;
    margin-top: 7%;
  }

  body {
    position: relative;
    margin: 0;
    background: #1561ad;
    color: #fff;
    font-family: "Lato", sans-serif;
  }

  body::after {
    content: "";
    /* background: url(img/pexels-binyamin-mellish-106399.jpg); */
    height: 300vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-left: 0.3%;
    margin-right: 0.3%;
  }

  #flex-container {
    display: grid;
    grid-auto-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin: 3%;
    column-gap: 1%;
    row-gap: 3%;
  }

  #mbj-number {
    position: relative;
    text-align: right;
    margin-top: -3%;
  }

  #mbj-description {
    font-size: 1.3vw;
  }

  .footer {
    width: 100%;
    text-align: center;
  }

  .about {
    align-items: center;
    margin-left: 2%;
    align-content: center;
    text-align: center;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background: rgba(0, 0, 0, 0.5);
    width: 75%;
    font-size: 1.5vw;
    margin-left: 3%;
  }

  .about p {
    margin-top: 10%;
    padding-left: 1%;
    padding-right: 1%;
  }

  #flex-container:nth-child(1) {
    width: 50%;
  }

  #mbj-h1 {
    font-size: 3.2vw;
    margin-left: 0.5%;
  }
  #mbj-number {
    font-size: 3vw;
    margin-top: -5%;
    margin-right: 1%;
  }

  #mbj-description {
    margin-top: -2.7%;
    margin-left: 0.6%;
  }
  #family {
    grid-area: main-img;
    height: 100%;
    width: 85%;
    grid-row: 1;
    grid-column: 3 / span 3;
    border: 3px solid white;
    margin-left: -5%;
  }

  .main-imgs {
    height: 300px;
    width: 300px;
  }

  .navbar {
    grid-area: navbar;
    width: 100%;
    background-color: #fc5226;
    display: flex;
    justify-content: space-evenly;
    margin-top: -3%;
  }

  .navbar a {
    font-size: 1.3vw;
    color: #fff;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
  }
  .navbar a:hover {
    background-color: #1561ad;
  }

  #yel-to-white {
    height: 400px;
    width: 100%;
    grid-row: 3;
    grid-column: 1;
  }

  #yel-to-white-2 {
    grid-row: 3;
    grid-column: 2;
    height: 400px;
    width: 100%;
    border: 2px solid white;
  }
  #banda {
    grid-row: 3;
    grid-column: 3;
    height: 400px;
    width: 100%;
    /* margin-left: 8%; */
  }

  footer {
    margin: 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .img-container-wwo {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .img-container-wwo img {
    margin: auto;
    margin-top: 7%;
    width: 85%;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  #flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 80%;
    margin: auto;
  }

  .main-imgs {
    margin-top: 5%;
  }

  body {
    position: relative;
    margin: 0;
    background: #1561ad;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
  body::after {
    content: "";
    /* background: url(img/pexels-binyamin-mellish-106399.jpg); */
    height: 280vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #family {
    margin: auto;
    width: 70%;
    height: 100%;
    margin-top: 5%;
  }

  .navbar {
    padding: 1%;
  }

  .navbar a {
    font-size: 2.2vw;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5vw;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    padding-left: 12%;
    padding-right: 12%;
  }

  .contact-container h3 {
    place-items: center;
    text-align: center;

    margin-top: 5%;
    padding: 5%;
    font-size: 5vw;
  }

  .footer {
    margin-top: 6%;
  }

  #contact-form {
    margin: auto;
    font-size: 2.5vw;
    width: 55%;
  }

  .contact-container form {
    width: 70%;
  }

  .img-container-wwo {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    place-items: center;
  }
  .img-container-wwo img {
    margin: auto;
    margin-top: 7%;
    width: 85%;
  }
  #kitchens {
    margin: auto;
  }
  #moms-bathroom {
    margin: auto;
    margin-top: 7%;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  a[href^="tel"] {
    color: inherit;
    text-decoration: none;
  }
  #flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  body {
    position: relative;
    margin: 0;
    background: #1561ad;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
  body::after {
    content: "";
    /* background: url(img/pexels-binyamin-mellish-106399.jpg); */
    height: 580vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

  .about {
    margin: 0;
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 4.2vw;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 7%;
  }
  #family {
    height: 75%;
    margin: 0;
    grid-row: 2;
    grid-column: 2 / span 2;
    margin-top: 3%;
  }

  #yel-to-white {
    width: 100%;
    grid-row: 5;
    grid-column: 2 / span 2;
  }

  #yel-to-white-2 {
    grid-row: 4;
    width: 100%;
    border: 2px solid white;
    grid-column: 2 / span 2;
  }
  #banda {
    grid-row: 3;
    width: 100%;
    grid-column: 2 / span 2;
  }

  .navbar {
    width: 100%;
  }

  .navbar a {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3.5vw;
  }

  .main-imgs {
    margin-top: 5%;
  }

  #mbj-h1 {
    font-size: 5.4vw;
  }

  #mbj-description {
    font-size: 2.2vw;
  }

  #mbj-number {
    font-size: 5.3vw;
    margin-top: -9%;
  }

  .footer {
    font-size: 3.5vw;
  }

  /* What we offer */
  #services li {
    margin-top: 10%;
    font-size: 2.7vw;
  }

  #services {
    margin-top: 7%;
  }

  #kitchens,
  #purse-on-counter,
  #moms-bathroom {
    margin: auto;
  }

  #purse-on-counter {
    margin-top: 8%;
  }

  #moms-bathroom {
    margin-top: 8%;
    margin-bottom: 3%;
  }

  #kitchens {
    margin-top: 4%;
  }

  #ul-title {
    font-size: 3vw;
    margin-top: 1%;
  }

  .offer {
    margin-top: 7%;
    font-size: 3vw;
  }

  .img-container-wwo {
    margin-top: 7%;
    display: flex;
    flex-direction: column;
  }

  .img-container-wwo img {
    width: 90%;
    height: 50%;
    border: 3px solid white;
  }

  /* Start of contact page */

  #contact-form {
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: auto;
    font-size: 2.5vw;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 75%;
  }

  #submit-input {
    text-align: center;
  }

  input {
    text-align: left;
  }

  #contact-form label {
    text-align: left;
    font-size: 3vw;
  }

  .contact-container h3 {
    text-align: center;
    margin-top: 10%;
    font-size: 5vw;
  }
}

@media all and (max-width: 480px) {
  body {
    position: relative;
    margin: 0;
    background: #1561ad;
    color: #fff;
    font-family: "Lato", sans-serif;
  }
  body::after {
    content: "";
    /* background: url(img/pexels-binyamin-mellish-106399.jpg); */
    height: 380vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20%;
    background-position-y: center;
    background-attachment: fixed;
    opacity: 0.3;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  #flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about {
    margin: 0;
    grid-row: 1;
    grid-column: 2 / span 2;
    font-size: 4.2vw;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 7%;
  }
  #family {
    height: 75%;
    margin: 0;
    grid-row: 2;
    grid-column: 2 / span 2;
    margin-top: 3%;
  }

  #yel-to-white {
    width: 95%;
    grid-row: 5;
    grid-column: 2 / span 2;
  }

  #yel-to-white-2 {
    grid-row: 4;
    width: 95%;
    border: 2px solid white;
    grid-column: 2 / span 2;
  }
  #banda {
    grid-row: 3;
    width: 95%;
    grid-column: 2 / span 2;
  }

  .navbar {
    width: 100%;
  }

  .navbar a {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 3.5vw;
  }

  .main-imgs {
    margin-top: 8%;
  }

  #mbj-h1 {
    font-size: 5.3vw;
  }

  #mbj-description {
    font-size: 2.2vw;
  }

  #mbj-number {
    font-size: 5.3vw;
    margin-top: -9%;
  }

  .footer {
    font-size: 3.5vw;
  }

  /* What we offer */
  #services li {
    margin-top: 3%;
    font-size: 2.7vw;
  }

  #kitchens,
  #purse-on-counter,
  #moms-bathroom {
    margin: auto;
  }

  #purse-on-counter {
    margin-top: 8%;
  }

  #moms-bathroom {
    margin-top: 8%;
    margin-bottom: 3%;
  }

  #kitchens {
    margin-top: 4%;
  }

  #ul-title {
    font-size: 3vw;
    margin-bottom: -3%;
  }

  .offer {
    font-size: 3vw;
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .img-container-wwo {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
  }

  .img-container-wwo img {
    width: 95%;
    height: 100%;
    border: 3px solid white;
  }

  /* Start of contact page */

  #contact-form {
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.2);
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 75%;
  }

  #submit-input {
    text-align: center;
  }

  input {
    text-align: left;
  }

  #contact-form label {
    text-align: left;
  }

  .contact-container h3 {
    text-align: center;

    font-size: 5vw;
    margin-top: 10%;
    margin-bottom: 1%;
  }
}

