body {
  position: relative;
  margin: 0;
  background: #1561ad;
  color: #fff;
  font-family: 'Lato', sans-serif;
  
}

body::after {
 
    content: "";
    background: url(/img/pexels-binyamin-mellish-106399.jpg);
    height: 150%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  background-attachment: fixed;
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  
}


.container {
  width: 100%;
  height: 100vh;
}

#home, #whatweoffer-home, #contact-home {
  display: flex;
  flex-direction: column;;
}

#home {
  height: 100vh;
}

h3 {
  margin-top: -.5%;
}

h1, h3 {
  margin-left: 1%;
  font-family: 'Ubuntu', sans-serif;
font-size: ;
}

 {
  display: flex;
  flex-direction: column;;
  height: 100vh;
}

#family {
  width: 400px;
  height: 400px;
  position: absolute;
  margin-top: 4.1%;
  right: 10%;
  border: 3px solid white;
}

#woodfloor {
  width: 400px;
  height: 400px;
  position: absolute;
  right: 5%;
}

#kitchens {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 5%;
  border: 3px solid white;
}

#wwo-images {
  margin-bottom: 23%;
}

.about {
  width: 35%;
  text-align: center;
  margin-top: 16.5%;
  margin-left: 10%;
  font-size: 24px;
  position: absolute;
  word-wrap: normal;
  background: rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  
}



#whatweoffer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.offer {
  width: 25%;
  text-align: center;
 margin-top:5%;
 font-size: 24px;
 background: rgba(0, 0, 0, .2);
 display: flex;
 flex-direction: column;
 padding-left: 2%;
 padding-right: 2%;
}

a {
  color: #fff;
  font-size: larger;
}

.navbar {
  display: flex;
  justify-content: space-around;
  border: 20px solid  #fc5226;
  background-color:  #fc5226;
  
  overflow: hidden;
}

.contact-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  
}

#message {
  margin-top: 2%;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 7%;
}

#contact-form {
  background: rgba(0, 0, 0, .2);
  padding: 2%;
  width: 50%;
  margin-left: 20%;
}

textarea {
  margin-top: ;
}

#services {
  display: flex;
  flex-direction: column;
  
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 1%;
  padding-top: 2%;
  
  background: rgba(0, 0, 0, .2);
  /* width: 75%; */
}

#services ul {
  column-count: 4;
 
   list-style-type: none;
  font-size: 20px;
  
}

ul li:before {    
  font-family: 'FontAwesome';
  content: '\f6e3';
  margin:0 5px 0 -15px;
  color: #fc5226;
}

#services li {
  margin: 1%;
 
  
 

}

#footer {
  text-align: center;
  position: fixed;
  bottom: -3%;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

